[%- # Joe Johnston <jjohn@taskboy.com> %]
[% WRAPPER layout.tt section_title = "Latest Articles" %]

<ul class="latest-posts list-unstyled">
[% FOREACH post = posts %]
    <li>
        [% INCLUDE "_post.tt" title_hightlight = 1%]
    </li>
[% END %]
</ul>

[% END %]