<!DOCTYPE html>
<html lang="en">
<head>
    <title>[% config.title %] :: [% section_title | html %]</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="[% rssFeed.uri %]" rel="alternate" title="Atom feed" type="application/atom+xml">
    <link href="[% jsonFeed.uri %]" rel="alternate" title="JSON feed" type="application/json">

    <link rel="stylesheet" href="[% siteCSS.uri %]">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="[% config.base_uri %]">[% config.title %]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item [% activeSection == "blog" ? "active" : "" %]">
                    <a class="nav-link" href="[% frontPage.uri %]">Blog</a>
                </li>
                <li class="nav-item [% activeSection == "tags" ? "active" : "" %]">
                    <a class="nav-link" href="[% tagsIndex.uri %]">Tags</a>
                </li>
                <li class="nav-item [% activeSection == "archive" ? "active" : "" %]">
                    <a class="nav-link" href="[% archive.uri %]">Archive</a>
                </li>
                [% FOREACH customNavItem = config.custom_nav_items %]
                <li class="nav-item [% activeSection == customNavItem.title ? "active" : "" %]">
                    <a class="nav-link" href="[% customNavItem.uri %]">[% customNavItem.title %]</a>
                </li>
                [% END %]
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>[% config.title %]</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-9">[%- content %]</div>
            <div class="col-sm-3 sidebar">
                <h2>Sidebar</h2>
                <br>
                <section class="about">
                    <h3>About this site</h3>
                    <p>
                        This is a blog by <a href="mailto:[% config.author_email %]">[% config.author_name %]</a>.
                    </p>
                </section>
                <br>
                <section class="search">
                    <h3>Search</h3>
                    <form action="https://duckduckgo.com" method="get">
                    <input name="q" type="text" placeholder="Search this blog" />
                    <input name="sites" type="hidden" value="[% config.base_uri %]" />
                    <input type="submit" value="Go" />
                    </form>
                </section>
                <br>
                <section class="recent_posts">
                    <h3>Recent Posts</h3>
                    <ul>
                    [%- FOREACH post IN recent_posts %]
                        <li><a href="[% post.uri %]">[% post.title %]</a></li>
                    [%- END %]
                    </ul>
                </section>
                <section>
                    <h3>HTML Validation</h3>
                    <a target="_blank" rel="noreferrer noopener" href="[% u = w3validatorURI.clone; u.query_form("doc", thisURI); u %]">Validate now</a>
                </section>
            </div>
        </div>
        <footer class="engine_attribution">
            <p>Powered by <a href="[% config.engine_uri %]">[% config.engine_name %] / [% config.engine_version %]</a>.</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="[% siteJS.uri %]"></script>
</body>
</html>