[% WRAPPER 'layout.tt' section_title = "Notes Roll" %]

<div class="notes-roll">
[% IF notes.size > 0 %]
    [% FOREACH note = notes %]  
        [% INCLUDE "_note.tt" note = note %]
    [% END %]
[% ELSE %]
    <em>No notes posted yet.  Check back later.</em>
[% END %]
</div>

[% END %]